@use 'variables';

.main{

background-color: variables.$color-white;
max-width: variables.$container-width;
}

@media(max-width: 500px){
    .main{
        height: 100%;
        max-width: 375px;
        width: 100%;
    }
}

.main_partners{
    margin-top: 124px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 500px){
    .main_partners{
        margin-top: 22px;
    }
}

.main_partners_block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-width: 411px;
    max-height: 162px;
}

@media(max-width: 500px){
    .main_partners_block{
        height: 664px;
        max-width: 335px;
        
    }
}

.main_partners_title{
color: #74C69D;
    font-family: variables.$font;
    line-height: 125%;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 5px;
}



.main_partners_title_strong{
    color: variables.$color-black;
    font-family: "Crimson Text";
    line-height: 125%;
    font-weight: 700;
    font-size: 40px;
}

@media(max-width: 500px){
    .main_partners_title_strong{
        font-size: 24px;
        
    }
}

.main_partners_description{
    padding-top: 16px;
     color: variables.$color-black;
     font-family: variables.$font;
    line-height: 125%;
    font-weight: 400;
    font-size: 20px;
    max-width: 411px;
    display: block;
    text-align: center;
}

@media(max-width: 500px){
    .main_partners_description{
        max-width: 335px;  
    }
}


.main_partners_img{
    margin-top: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
        width: 100%;
}

@media(max-width: 900px){
    .main_partners_img{
   display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
}

@media(max-width: 500px){
    .main_partners_img{
    display: flex;
    flex-direction: column;
justify-content: space-between;
    max-width: 200px;
    max-height: 386.4;
    }
}



.main_button_partners{
background-color: #212529;
max-width:  170px;
max-height: 48px;
color: variables.$color-white;
font-family: variables.$font;
line-height: 125%;
font-weight: 400;
font-size: 20px;
display: flex;             
align-items: center;        
justify-content: center; 
margin-top: 68px;
border-radius: 5px;

}

@media(max-width: 500px){
     .main_button_partners{
    margin-top: 55px;
    }
}

.main_container_top{
    display: flex;
    flex-direction: row;
    
    gap: 110px;
    margin-top: 73px;
    padding-left: variables.$padding-left-everywhere;
}

@media(max-width: 800px){
    .main_container_top{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    }
}

@media(max-width: 500px){
     .main_container_top{
     display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 59px;
    padding-left: 20px;
    }
}

.main_container_top_left{
    max-width: 600px;

    max-height: 431px;
}

@media(max-width: 1000px){
     .main_container_top_left{
    max-width: 335px;
    max-height: 240px;
    }
}

@media(max-width: 500px){
     .main_container_top_left{
    max-width: 335px;
    width: auto;
    max-height: 240px;
    }
}

.main_container_top_right{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 88.22px;
}

@media(max-width: 500px){
     .main_container_top_right{
        padding-top: 30px;
        gap: 20px;
    }
}

.main_container_title{
    color: #212529;
    font-family: "Crimson Text";
    line-height: 125%;
    font-weight: 700;
    font-size: 40px;
    max-width: 462px;
}

@media(max-width: 500px){
     .main_container_title{
    font-size: 24px;
    max-width: 334px;
    }
}

.main_container_description{
    color: #21252980;
    font-family: variables.$font;
    line-height: 125%;
    font-weight: 400;
    font-size: 15px;
    max-width: 470px ;
}

@media(max-width: 500px){
     .main_container_description{
    max-width: 334px;
    }
}

.main_container_button{
background-color: #212529;
max-width: 170px;
max-height: 48px;
color: variables.$color-white;
font-family: variables.$font;
line-height: 125%;
font-weight: 400;
font-size: 20px;
display: flex;             
align-items: center;        
justify-content: center; 
border-radius: 5px; 
}

.main_container_down{
     display: flex;
    flex-direction: row;
    gap: 110px;
    margin-top: 22.57px;
    padding-left: variables.$padding-left-everywhere;
}

@media(max-width: 800px){
    .main_container_down{
   display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    }
}

@media(max-width: 500px){
     .main_container_down{
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
    margin-top: 60.12px;
    padding-left: 20px;
    }
}

.main_container_down_left{
display: flex;
flex-direction: column;
gap: 16px;
padding-top: 155.37px;
}

@media(max-width: 500px){
     .main_container_down_left{
    padding-top: 30px;
    }
}

.main_container_down_right{
    max-width: 600px;
    
    max-height: 565.73px;
}


@media(max-width: 1000px){
     .main_container_down_right{
    max-width: 335px;
    max-height: 240px;
    }
}

@media(max-width: 500px){
     .main_container_down_right{
    max-width: 335px;
    max-height: 315.87px;
    }
}



.main_container_team{
    padding-left: 518px;
    margin-top: 71,27px;
}

@media(max-width: 1000px){
     .main_container_team{
   margin-right: 100px;
    max-width: auto;
    max-height: auto;
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    }
}


@media(max-width: 500px){
     .main_container_team{
   padding-left: 20px;
   margin-top: 40,13px;
    }
}

@media(max-width: 500px){
     .main_container_team{
    max-width: 335px;
    max-height: 167px;
    margin-top: 40.13px;
    }
}

.main_container_team_top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 404px;
    max-height: 162px;
    align-items: center;
    margin-top: 71.27px;
}





@media(max-width: 500px){
     .main_container_team{
    max-width: 335px;
    max-height: 167px;
    margin-top: 40.13px;
    }
}

.main_container_team_top_title{
    color: #74C69D;
    font-family: variables.$font;
    line-height: 125%;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 5px;
}

.main_container_team_top_title_strong{
    color: #212529;
    font-family: "Crimson Text";
    line-height: 125%;
    font-weight: 700;
    font-size: 40px;
}

@media(max-width: 500px){
     .main_container_team{
    font-size: 24px;
    }
}

.main_container_team_top_description{
    color: variables.$font;
    font-family: variables.$font;
    line-height: 125%;
    font-weight: 400;
    font-size: 20px;
    display: block;
    text-align: center;
}



#blogCarousel{
max-width: 1176px;
max-height: 299px;
display: block;
margin-top: 45px;
padding-left: variables.$padding-left-everywhere;
}

@media(max-width: 1000px){
     #blogCarousel{
    margin-top: 150px;
    padding-left:50px;
    }
}

@media(max-width: 765px){
     #blogCarousel{
    padding-left:200px;
    
    }
}

@media(max-width: 500px){
     #blogCarousel{
    margin-top: 100px;
    padding-left:50px;
    }
}



.project-card {
  max-width: 279px;
  max-height: 299px;
  background-color: variables.$color-white;
  border-radius: 5px;
  padding: 20px;

  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.project-image {
  max-width: 175px;
  height: 175px;
  gap: 47px;
  border-radius: 50%;
  border: 1px solid variables.$color-black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: variables.$color-white;
}

.project-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.project-title{
    color: #212529;
    font-family: "Crimson Text";
    line-height: 125%;
    font-weight: 700;
    font-size: 24px;
    margin-top: 19px;
}

.project-description{
    color: #212529BF;
    font-family: variables.$font;
    line-height: 125%;
    font-weight: 400;
    font-size: 15px;
}

.carousel_button{
background-color: #212529;
max-width: 170px;
max-height: 48px;
color: variables.$color-white;
font-family: variables.$font;
line-height: 125%;
font-weight: 400;
font-size: 20px;
display: flex;             
align-items: center;        
justify-content: center; 
border-radius: 5px; 
margin-top: 45px;
margin-left: 635px;
}

@media(max-width: 1000px){
     .carousel_button{
   margin-left: 400px;
    }
}

@media(max-width: 767px){
     .carousel_button{
    margin-top: 920px;
   margin-left: 250px;
    }
}

@media(max-width: 500px){
     .carousel_button{
    margin-top: 920px;
   margin-left: 103px;
    }
}


.section{
    max-width: 1440px;
    
    background-color: variables.$color-white
}
@media(max-width: 500px){
     .section{
  width: 375px;
    }
}



.contact-us{
    padding-top: 30px;
}

@media(max-width: 500px){
     .contact-us{
   
    }
}


.accordion-button {
  max-width: fit-content;      
  margin: 0 auto;          
  padding: 10px 24px;      
  border-radius: 8px;
  justify-content: center;
}

.accordion-button.custom-accordion-btn{
 background: none;
  box-shadow: none;
  border: none;
}

.accordion-button.custom-accordion-btn {
  font-family: "Crimson Text", serif;
  font-size: 40px;
  line-height: 125%;
  font-weight: 700;
  color: variables.$color-black;
  display: flex;
  justify-content: center; 
  align-items: center;     
  text-align: center;
}.accordion-button::after {
  display: none;
}

@media(max-width: 500px){
     .accordion-button.custom-accordion-btn{
    font-size: 24px;
    }
}

.contact-description{
    padding-top: 16px;
     color: variables.$color-black;
    font-family: variables.$font;
    line-height: 125%;
    font-weight: 400;
    font-size: 20px;
    max-width: 411px;
    max-height: 60px;
    margin: 0 auto;
    text-align: center;
}

@media(max-width: 500px){
     .contact-description{
   width: 335px;
height: 85px;
    }
}

.form-field {
  margin-bottom: 21px; 

}

.form-field label {
  margin-bottom: 16px; 
   color: variables.$color-black;
    font-family: variables.$font;
    line-height: 125%;
    font-weight: 400;
    font-size: 20px;
}

.contact-form input.form-control {
  width: 100%;
  max-width: 575px;
  max-height: 38px;
border: 1px solid variables.$color-black ;
  background-color: #EEEEEE;
}

@media(max-width: 500px){
     .contact-form input.form-control {
   width: 335px;
    height: 38px;
    }
}

.contact-form textarea.form-control {
border: 1px solid variables.$color-black;
  background-color: #EEEEEE;
   max-width: 575px;
}

@media(max-width: 500px){
     .contact-form textarea.form-control {
    width: 335px;
    height: 141px;
    }
}

.btn.btn-dark{
    max-width: 575px;
    height: 48px;
}

@media(max-width: 500px){
     .btn.btn-dark{
    width: 335px;
    height: 48px;
    }
}


.img-fluid{
    max-width: 575px;
    max-height: 384px;
}

@media(max-width: 500px){
     .img-fluid{
    width: 335px !important;
    height: 224px !important;
    max-width: none !important;
    }
}

