@use 'variables';

.footer{
 max-width: 1440px;   
 background-color: variables.$color-green;
}

.social-media{
    display: flex;
    flex-direction: row;
padding-top: 51px;
padding-bottom: 49px;
padding-left: 131px;
gap: 20px;
}

@media(max-width: 900px){
    .social-media{
       display: flex;
  justify-content: space-between;
  padding-top: 31px;
padding-bottom: 0;
padding-left: 0;
    }
}

@media(max-width: 500px){
    .social-media{
       display: flex;
  justify-content: space-between;
  padding-top: 31px;
padding-bottom: 0;
padding-left: 0;
    }
}


.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 900px){
    .footer{
       flex-direction: column;
       display: flex;
     
       
    }
}

@media(max-width: 500px){
    .footer{
       flex-direction: column;
       display: flex;
       max-width: auto;
       
    }
}


.footer_description{
    padding-right: 131px;
    color: variables.$color-white;
    font-family: variables.$font;
    line-height: 125%;
    font-weight: 400;
    font-size: 20px;
}

@media(max-width: 900px){
    .footer_description{
       padding-top: 31px;
       display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-bottom: 0;
    }
}

@media(max-width: 500px){
    .footer_description{
       padding-top: 31px;
       display: flex;
  justify-content: space-between;
  padding-right: 0;
  padding-bottom: 10px;
    }
}